<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">管理员管理</h2>



    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>昵称</th>
                <th>年龄</th>
                <th>创建时间</th>
                <th>地址</th>
            </tr>
            </thead>
            <tbody>
            #if($!users)
                #foreach( $!use in $!users.data)
                <tr>
                    <td>$!use.id</td>
                    <td>$!use.nickname</td>
                    <td>$!use.age</td>
                    <td>$!use.createdTime</td>
                    <td>$!use.address</td>
                </tr>
                #end
            #end
            </tbody>
        </table>
    </div>


</div>